/* General */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  height: 100%;
}
p {
  margin: 0;
  color: #606060;
  line-height: 26px;
  font-size: 14px;
}
ul {
  font-size: 14px;
  color: #606060;
  line-height: 30px;
}
p a {
  color: #230584;
  text-decoration: underline;
}

/* -------- DESKTOP NAV ---------- */
nav, .nav-links{
  display: flex;
}
nav {
  position: sticky;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  background-color: #ededed;
}
.nav-links {
  gap: 2rem;
  list-style: none;
  font-weight: 400;
  font-size: 1rem;
}
a {
  transition: all 0.3s ease-in-out;
  padding: 0; 
  color: rgb(42, 42, 42);
  text-decoration: none;
  text-decoration-color: #fff;
}
a:hover {
  color: grey;
  font-weight: 700;
  text-decoration:solid;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181,181,181);
}
a:active {
  color: rgb(30, 30, 30);
  font-weight: 700;
  text-decoration:solid;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(37, 37, 37);
}

.logo {
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: -2px;
}
.logo:hover {
  color: grey;
  cursor: pointer;
}
.logo:active {
  color: rgb(30, 30, 30);
  cursor:pointer;
}

/*  ---------- HAMBURGER MENU ---------- */
#hamburger-nav {
  display: none;
  z-index: 2;
}
.hamburger-menu {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}
.hamburger-icon span {
  width: 100%;
  height: 4px;
  background-color: rgb(40, 40, 40);
  transition: all 0.3 ease-in-out;
}
.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(204, 203, 203);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}
.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links li {
  list-style: none;
}
.menu-links.open {
  max-height: 300px;
}
.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child {
  transform: none;
}
.hamburger-icon span:first-child {
  opacity: 1;
}
.hamburger-icon span:first-child {
  transform: none;
}

/* ---------- INDEX ---------- */
h1 {
  color: rgb(18,17,17);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height:50px;
}
h2 {
  color: #94a3b8;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 40px;
}
.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 83vh;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.bio {
  margin-left: 180px;
  margin-right: 60px;
}
.photo img {
  width: 400px;
  height: 400px;
  margin-left: 60px;
  margin-right: 180px;
}

/* ---------- RESUME ---------- */
.resume {
  width: auto;
  height: auto;
  margin-bottom: 2rem;
  margin-left: 120px;
  margin-right: 120px;
}
.resumetitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-left: 150px;
  margin-right: 150px;
}
.name {
  color: rgb(18,17,17);
  font-size: 28px;
  font-weight: 700;
  line-height:50px;
}
.contact-icon {
  display: flex;
  align-items: center; 
}
.contact-icon a {
  margin-right: 10px;
}
.contact-icon img[alt="email"] {
  vertical-align: middle;
}
.resume-content {
  margin-top: 40px;
  margin-bottom: 70px;
  margin-left: 175px;
  margin-right: 150px;
  line-height: 35px;
}
h3 {
  color: rgb(18,17,17);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1px;
  margin-top: 30px;
  margin-left: -25px;
  text-decoration: underline;
}

.education {
  margin-bottom: 20px;
  color: rgb(18, 17, 17);
  font-size: 14px;
}
h3 {
  font-size: 16px;
}
.education-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.education-details {
  flex: 1;
}
h4 {
  font-size: 14px;
}

.work-experience li {
  margin-left: 20px;
}

/* ---------- PROJECTS ---------- */
.carousel {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 92vh;
  width: 80vw;
  margin: 0 auto;
} 
.carousel-item {
  display: none;
  justify-content: space-between;
  width: 100%;
  position: absolute;
} 
.carousel-item.active {
  display: flex;
}
.slidebutton {
  position: absolute;
  background: none;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  font-size: 2rem;
  transform: translateY(-50%);
  margin: 0;
  padding: 0.5rem;
  cursor: pointer;
}
.slidebutton:hover {
  color: grey;
}
.slidebutton:active {
  color: rgb(30, 30, 30);
}
.slidebutton.prev {
  flex: 0.25;
  left: 1.5rem;
}
.slidebutton.next {
  flex: 0.25;
  right: -1.5rem;
}
.projectdetail {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  margin-left: 110px;
  margin-right: 100px;
}
.project-title {
  font-size: 20px; 
  font-weight: 700;
  color: rgb(18,17,17);
  margin-bottom: 25px;
}
.project-toolname {
  font-size: 16px; 
  font-weight: 400;
  color: #94a3b8;;
  margin-bottom: 10px;
}
.project-description {
  font-size: 14px; 
  font-weight: 400;
  color: rgb(18,17,17);
  margin-bottom: 25px;
}
.project-date {
  font-size: 14px; 
  font-weight: 400;
  color: #94a3b8;;
  margin-bottom: 25px;
}
.project-image {
  flex: 1.25;
  max-width: 30%; 
  height: auto; 
  transform-origin: center center;
  transition: transform 0.3s ease; 
  margin-right: 60px;
  object-fit: contain;
}

/* ---------- CONTACT ---------- */
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
  padding: 50px;
  height: 73vh;
}
.contactme {
  margin-left: 150px;
  margin-bottom: 80px;
}
#contactmetitle {
  font-size: 26px; 
  font-weight: 700;
  color: rgb(18,17,17);
  margin-bottom: 50px;
}
#contactmesentence {
  font-size: 16px; 
  color: rgb(18,17,17);
  line-height: 40px; 
}
.form {
  display: flex;
  flex-direction: column;
  margin-left: 175px;
  margin-right: 150px;
  line-height: 36px;
  font-size: 14px;
}
input[type="text"] {
  border: 1px solid gray; 
  border-radius: 4px;
  margin: 1px 0;
  height: 30px;
  width: 236px;
}
input[type="submit"] {
  background-color: rgb(219, 218, 218); 
  color: rgb(79, 78, 78);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* ------- FOOTER ------- */
footer {
  height: 10vh;
  bottom: 0;
  width: 100%;
  background: #ededed; 
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  height: 100%;
  max-width: 1500px; 
  margin: 0 auto; 
  padding: 15px; 
}
.footername {
  margin-left: 1px;
}
.footerlogo {
  display: flex;
  align-items:center;
}
.footerlogo img {
  margin-right: 10px;
}


@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex; 
  }
}

@media screen and (max-width: 780px) {
  #hamburger-nav {
    height: 12vh;
    margin-right: -50px;
  }
  
    

    /* ------- INDEX------- */
  .logo {
    margin-left: -60px;
  }
  .about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 15px;
  }
  .bio {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
  }
  .bio h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .photo img {
    width: 300px;
    height: 300px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
  }

/* ------- RESUME ------- */
.resume {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 50px;
}
.resumetitle {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
}
.name {
  margin-bottom: 10px;
  font-size: 22px;
  width: 350px;
  margin: 0 auto;
}
.resume-content h3 {
  font-size: 16px;
  margin-left: -165px;
}
.summary p {
  width: 350px;
  font-size: 12px;
  margin-left: -165px;
}
.resume-content ul {
  width: 335px;
  font-size: 12px;
  margin-left: -150px;
}  .education-entry {
  flex-direction: column;
}
.education-entry h4 {
  font-size: 12px; 
  width: 300px;
  margin-left: -160px;
}
.education .date {
  font-size: 12px;
  width: 300px;
  margin-left: -160px;
}
.work-experience h4 {
  width: 310px;
  font-size: 12px;
  margin-left: -165px;
} 
.date {
  font-size: 12px;
  width: 315px;
  float: left;
  margin-bottom: 10px;
  margin-left: -165px;
}
.work-experience ul {
  width: 310px;
  font-size: 12px;
  margin-left: -150px;
}

/* ------- PROJECTS ------- */
.carousel {
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 105vh;
}
.carousel-item {
  display: none;
  justify-content: space-between;
  width: 100%;
  position: absolute;
}
.carousel-item.active {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}
.project-image {
  flex: 1.55;
  max-width: 50%; 
  margin: 0 auto;
  z-index: 1;
}
.projectdetail {
  flex: 2;
  margin-top: 30px;
  margin-bottom: 30px;
}
.slidebutton.prev {
  left: 1vh;
}

.slidebutton.next {
  right: 1vh;
}

/* ------- CONTACT ------- */
  .contact {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 10px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .contactme {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .form {
    margin: 0 auto; 
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
 
}