
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap");


body {
  font-family: "Poppins", sans-serif;
  background-color: var(--gray-50);
}

button,
input,
textarea,
select {
  font-family: inherit;
}

/* colour */
/* https://tailwindcss.com/docs/customizing-colors  （Neutral） */
:root {
  --gray-50: #fafafa;
  --gray-100: #f4f4f4;
  --gray-200: #e5e5e5;
  --gray-300: #e5e5e5;
  --gray-400: #a3a3a3;
  --gray-500: #737373;
  --gray-600: #525252;
  --gray-700: #404040;
  --gray-800: #262626;
  --gray-900: #171717;
  --gray-950: #0a0a0a;
}

.container {
  width: 100%; 
  margin-left: auto;
  margin-right: auto;
}

/* nav */
@media (max-width: 991px) {
  .navbar-custom .navbar-collapse {
    text-align: right;
  }

  .navbar-custom .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-top: 1.5em;
    padding-bottom: 0;
  }

  .navbar-custom {
    min-height: 90px; 
  }
}

.navbar-custom {
  background: rgba(244, 244, 244, 0.3);
  backdrop-filter: blur(12px);
  min-height: 90px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 13pt;
  justify-content: center;


}


.navbar-custom .nav-link {
  margin-left: 15px;
  margin-right: 15px;
  color: var(--gray-900);
  opacity: 0.6;
  transition: 0.3s ease; 
}


.navbar-custom .nav-link:hover {
  font-weight: 400;
  opacity: 1;
}

/* bio */
.bio-section {
  padding: 12em 0 4em 0;
}

.bio-title {
  font-size: 3em;
  color: var(--gray-900);
  font-weight: bold;
  line-height: 1;
}

.bio-subtitle {
  font-size: 16pt;
  color: var(--gray-400);
  margin-bottom: 3em;
  font-weight: 500;
}

.bio-text {
  font-size: 12pt;
  max-width: 550px;
  color: var(--gray-800);
  font-weight: 300;
  line-height: 1.5;
  margin-top: 3em;
}

.college-link {
  text-decoration: underline; 
  color: var(--gray-500); 
  font-weight: 300;
}

.college-link:hover {
  color: var(--gray-800); 
  text-decoration: none;
  font-weight: 500;
}

.bio-image {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

/*  My Skills */
.skills-section {
  padding: 4em 0;
}
.skills-title-custom {
  align-self: flex-start; 
  text-align: left; 
  font-size: 16pt;
  color: var(--gray-700);
  margin-right: 3em;
  font-weight: 500;
  margin: 2em 0;
}


.img-fluid {
  max-width: 80%; 
  height: auto; 
}


.col-md-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.icon-name {
  font-size: 11pt; 
  margin-top: 0.5rem; 
  color: var(--gray-600);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.row + .row {
  margin-top: 15px; 


/* projects */

.projects-section {
  padding: 8em 0;
}
.projects-title {
  margin: 1em 0;
  font-size: 2.4em;
  color: var(--gray-800);
  font-weight: bold;
  line-height: 1; 
}

/* Custom card styles */
.custom-card {
  margin: 1em; 
  transition: transform 0.2s, box-shadow 0.5s; 
  box-shadow: none; 
  border: none; 
}

.custom-card-body {
  background-color: var(
    --gray-50
  ); 
  padding-top: 1.5em; 
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px;
}

.custom-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2); 

.custom-card-img {
 
  display: block;
  width: 100%;
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px; 
}

/* Card title styles */

.card-title a {
  font-size: 11pt;
  color: var(--gray-500); 
  font-weight: 500;
  text-decoration: underline; 
}

.card-title a:hover {
  color: var(--gray-900); 
  font-weight: 500;
  text-decoration: none; 
}

.card-description {
  font-size: 11pt; 
  color: var(--gray-400); 
  margin-top: 0.8em; 
  margin-bottom: 1.5em; 
}

.text-center {
  text-align: center;
}

.col-md-6 {
  padding: 15px; 
}


/* Footer*/
footer#contact {
  background-color: var(--gray-100); 
  margin: 0;
  padding: 3.5em 0 1.5em 0; 
  width: 100%;
}


footer#contact .contact-container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 15px; 
  box-sizing: border-box; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact-title {
  font-size: 2.4em;
  color: var(--gray-800);
  font-weight: bold;
  line-height: 1; 
  margin-bottom: 1em;
}

.contact-title a {
  color: var(--gray-800); 
  text-decoration: none; 
}

.contact-title a:hover {
  text-decoration: underline; 
}

.contact-info {
  color: var(--gray-600);
  font-size: 14pt;
  font-weight: 600;
  flex-direction: column;
  align-items: flex-end;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1em;
  justify-content: center;
}

.social-icon {
  margin-left: 1em;
  margin-right: 1em;
  opacity: 0.5; 
}


.social-icon:hover {
  
  transform: scale(1.1);
  transition: 0.2s ease;
  opacity: 1; 
}

.social-icon img {
  width: 30px;
  height: auto;
}


@media (max-width: 768px) {
  footer#contact .contact-container {
    padding: 2em 1em; 
  }

 
}

.contact-info {
  align-items: center;
}
